html  {
    background-color: rgb(58, 58, 58);
}
p {
    color:white;
}
/*
div > p:first-child {
    background-color: black;
}
*/
div {
    display: flex;
    background-color: black;
}
#container {
  height: 400px;
  width: 500px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#box1 {
  height: 100px;
  width: 100px;
  background-color: red;

}

#box2 {
  height: 100px;
  width: 100px;
  background-color: blue;
}

#box3 {
  height: 100px;
  width: 100px;
  background-color: green;
}